:root {
    --primary-color: #333;
    --secondary-color: #0091ff;
    --while-color: #fff;
    --black-color: #000;
    --block-color: #f0f0f0;
    --text-color: #777;
    --breadcrumb-color: #6c757d;
    --border-color: #dbdbdb;
}

* {
    box-sizing: inherit;
    font-family: Arial, Helvetica, sans-serif;
    /* font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; */
    /* font-family: serif; */
}

html {
    font-size: 62.5%;
    line-height: 1.6rem;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

/* tách nav */
.mb-90 {
    margin-bottom: 90px;
}

.none-list-style {
    list-style: none;
}

/* Scroll top */
.scroll-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    font-size: 4rem;
    visibility: hidden;
    color: var(--text-color);
    transition: 0.4s;
    z-index: 99;
}

.scroll-top i{
    color: var(--secondary-color);
}
.scroll-top:hover {
    cursor: pointer;
}


@media (min-width: 1024px) {
    .col-2-4 {
        padding-left: 5px;
        padding-right: 5px;
        max-width: 20%;
    }

}
    

.breadcrumb {
    padding: 10px;
    font-size: 1.3rem;
}

.breadcrumb-item a {
    color: var(--black-color);
}

.breadcrumb-item a:hover {
    color: var(--breadcrumb-color);
}

.breadcrumb-item.active a {
    color: var(--breadcrumb-color);
    cursor: text;
    text-decoration: none;
}

/* Toastr Messages */

#toastr {
    position: fixed;
    top: 32px;
    right: 32px;
    z-index: 999999;
}

.toastr {
    display: flex;
    align-items: center;
    background-color: var(--while-color);
    border-radius: 2px;
    padding: 20px 0;
    min-width: 400px;
    max-width: 450px;
    border-left: 4px solid;
    box-shadow: 0 5px 8px rgba(0, 0, 0, 0.08);
    transition: all linear .3s;
}

@keyframes sliderInLeft {
    from {
        opacity: 0;
        transform: translateX(calc(100% + 32px));
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes fadeOut {
    to {
        opacity: 0;
    }
}

.toastr--success {
    border-color: #47d864;
}

.toastr--success .toastr__icon {
    color: #47d864;
}

.toastr--info {
    border-color: #2f86eb;
}

.toastr--info .toastr__icon {
    color: #2f86eb;
}

.toastr--warn {
    border-color: #ffc021;
}

.toastr--warn .toastr__icon {
    color: #ffc021;
}

.toastr--error {
    border-color: #ff623d;
}

.toastr--error .toastr__icon {
    color: #ff623d;
}


.toastr + .toastr {
    margin-top: 24px;
}

.toastr__icon {
    font-size: 24px;
}

.toastr__icon,
.toastr__close {
    padding: 0 16px;
}

.toastr__body {
    flex: 1;
}

.toastr__title {
    font-size: 16px;
    font-weight: 600;
    color: #333;
}

.toastr__msg {
    font-size: 14px;
    color: #888;
    margin-top: 6px;
    line-height: 1.5;
}

.toastr__close {
    font-size: 20px;
    color: rgba(0, 0, 0, 0.3);
    cursor: pointer;
}
