
.banner {
    position: relative;
}

.banner img {
    width: 100%;
    max-height: 450px;
}

.banner h1 {
    position: absolute;
    bottom: 50px;
    left: 50%;
    transform: translateX(-50%);
    color: #d2cfcf;
    text-shadow: 2px 5px 10px #000000cd;
    font-size: 4rem;
}


/* Content */

.category__list,
.category__sub-list {
    list-style: none;
    padding: 0;
}

.category__link i {
    float: right;
    position: relative;
    top: 4px;
}

.category__link,
.category__sub-link {
    display: block;
    color: var(--text-color);
    font-size: 1.3rem;
    text-transform: capitalize;
    font-weight: 500;
    padding: 3px 0;

}

.category__link.active {
    color: var(--black-color);
}

.category__link:hover,
.category__sub-link:hover {
    text-decoration: none;
    color: #000;
}

.category__sub-link {
    padding-left: 8px;
}

/* Sort filter */
.sort-filter {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    padding: 5px;
    margin-bottom: 15px;
    background-color: #ddd;
    border-bottom: 2px solid #555;
    border-radius: 5px;
}
.sort-filter__item {
    border: 1px solid var(--while-color);
    border-radius: 5px;
    outline: none;
    padding: 5px 12px;
    min-width: 80px;
    background-color: var(--while-color);
    font-size: 1.3rem;
    margin: 3px;
}

.sort-filter__item:last-child {
    min-width: 120px;
    text-align: left;
}

@media (max-width: 770px) {
    .sort-filter__item:last-child {
        margin: 3px auto;
        width: 210px;
    }
}

@media (max-width: 600px) and (min-width: 570px) {
    .sort-filter__item:nth-child(4) {
        width: 210px;
        margin: 3px auto;
    }
}